body {
	background-color: #DADADA;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #1E2020;
}

p {
	font-size: 16px;
	margin: 10px 0;
}

h4 {
	font-size: 18px;
	font-weight: 200;
}

h5 {
	font-size: 16px;
	margin: 10px 0;
}

h6 {
	font-size: 14px;
	font-weight: 200;
	margin: 0 0 10px 0;
}

small {
	font-size: 14px;
	color: #747474;
}
